/* H1*/    
h1 a {
    color:rgb(255, 255, 255);
    font-size: 0,1rem;
    font-family: 'Fredoka One', cursive;
    font-family: 'Mukta', sans-serif;
    font-weight:600;
    text-decoration: none;

    }
     
    .portada1{
        justify-content: center;
        display: flex;
        align-items: center;
        padding: 40px;
        font-family: 'Fredoka One', cursive;
        font-family: 'Mukta', sans-serif;
         

      }
      .titulo1{
        justify-content: center;
        display: flex;
        text-align: center;
        padding: 20px;
        margin: 5px 5px;
        font-family: 'Fredoka One', cursive;
        font-family: 'Mukta', sans-serif;
      }
      .titulo2{
        justify-content: center;
        display: flex;
        text-align: left;
        padding: 20px;
        margin: 5px 5px;
        font-family: 'Fredoka One', cursive;
        font-family: 'Mukta', sans-serif;
    }

    .titulo3{
        justify-content: center;
        display: flex;
        text-align: left;
        padding: 20px;
        margin: 5px 5px;
        font-family: 'Fredoka One', cursive;
        font-family: 'Mukta', sans-serif;
    }
    .portada2{
        justify-content:center;
        display: flex;
        align-items: left;
        padding: 40px;
        font-family: 'Fredoka One', cursive;
        font-family: 'Mukta', sans-serif;
    }

    .listado{
        justify-content:center;
        display: flex;
        align-items: center;
        padding: 5px;
        font-family: 'Fredoka One', cursive;
        font-family: 'Mukta', sans-serif;

    }
    
