/* H1*/    
h1 a {
    
    font-size: 0,1rem;
    font-family: 'Fredoka One', cursive;
    font-family: 'Mukta', sans-serif;
    font-weight:600;
    text-decoration: none;
    color:white;

    }
    
/* PARRAFOS*/       
    .portada1{
        justify-content: center;
        display: flex;
        align-items: center;
        padding: 40px;
        font-family: 'Fredoka One', cursive;
        font-family: 'Mukta', sans-serif;
        color:rgb(8, 8, 8) ;
    }
    
        
    .portada2{
        justify-content:center;
        display: flex;
         align-items: left;
        padding: 40px;
        font-family: 'Fredoka One', cursive;
        font-family: 'Mukta', sans-serif;
       
    }
    
/* TITULOS*/          
     
    .titulo1{
        justify-content: center;
        display: flex;
        text-align: center;
        padding: 20px;
        margin: 5px 5px;
        font-family: 'Fredoka One', cursive;
        font-family: 'Mukta', sans-serif;
    }

    .titulo2{
        justify-content: center;
        display: flex;
        text-align: left;
        padding: 20px;
        margin: 5px 5px;
        font-family: 'Fredoka One', cursive;
        font-family: 'Mukta', sans-serif;
    }

    .titulo3{
        justify-content: center;
        display: flex;
        text-align: left;
        padding: 20px;
        margin: 5px 5px;
        font-family: 'Fredoka One', cursive;
        font-family: 'Mukta', sans-serif;
    }


/*  ASIDE */  
    .listado{
        justify-content:center;
        display: flex;
        align-items: center;
        padding: 5px;
        font-family: 'Fredoka One', cursive;
        font-family: 'Mukta', sans-serif;

    }



    
    // VARIABLES
    $color-primario: black;
    $color-secundario:White;


