/*CUADRO DE CONTACTO*/
.btn{
    border-radius: 3px;
    display: inline-block;
    padding: 15px 10px;
    text-decoration: none;
    text-shadow: 0 1px 0 red;
    box-shadow:0 1px 0 wheat;
}

.btn-green{
    color:rgb(0, 0, 0);
    background-color: rgba(218, 216, 216, 0.541);
    &:hover{
        background-color:rgba(218, 216, 216, 0.541);; 
 
    }

    }



/*CONTACTO*/

form{
    background-color: rgba(218, 216, 216, 0.76);
    margin: 0 auto;
    width: 300px;
    padding: 10px;
    font-family: 'Fredoka One', cursive;
    font-family: 'Mukta', sans-serif;
    border-radius: 3px;



}







/* TRAJETAS DE PRODUCTOS */  
.cardprod{
    border:solid 2px none;
    width: 250px;
    height:  400px;
    &:hover{
    transform: scale(1.2); 
    transition-duration: 500ms;
    transition-delay: 0.5s;
}
}


.cardtext{
font-family: 'Fredoka One', cursive;
font-family: 'Mukta', sans-serif;
text-align: center;
}

.cardprod a{
  border:  2px solid grey;
  text-decoration: none;
  font-size: 25px ;
  display: flex;
  justify-content: center;
  color: #000;
  border-radius: 10px;
}


/*TARJETA DE PROFESORES*/

.profe{
    border: solid 2px grey;
    width: 250px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-family: 'Mukta', sans-serif;
    }

.profe img{
    width: 100%;
}

.contenedorprofe{
    display: flex;
    justify-content: space-around;
}











/* MENU DE LINEAS */
.main-header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    
  }
  
  .main-logo {
    color: rgb(255, 255, 255);
    font-size: 32px;
    text-decoration: none;
  }
  .main-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    margin-left: -100%;
    transition: all 0.2s linear;
    z-index: 100;
   
  }
  
  .main-nav.show {
    margin-left: 0;
  }
  .nav-links {
    background-color: rgb(250, 250, 250);
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
  }
  
  .link-item {
    margin-top: 2rem;
    color: #444444;
    text-decoration: none;
    font-weight: bold;
    position: relative;
  }

  .button-menu {
    z-index: 200;
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    background: none;
    flex-direction: column; /* Pondrá un span debajo del otro*/
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
 

    /* LINEA RECTA DE MENU*/
  
  .button-menu span {
    width: 37px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    transform-origin: 4px 0px;
    transition: all 0.2s linear;
  }
  
   /* ICONO DE CERRAR*/
  
  .button-menu.close span {
    opacity: 1;
    transform: rotate(45deg) translate(0px, 0px);
    background: #000000;
  }
  
  .button-menu.close span:nth-child(2) {
    transform: rotate(-45deg) translate(-8px, 5px);
  }
  
  .button-menu.close span:nth-child(3) {
    display: none;
  }

 
 
 
 
 
 
 
 
 
  /* HERO BOONES */

  .contenedor .warp .box  .inscribite {
    display: flex;
    margin-top: 20px;
    flex-flow: row wrap;
    
  }
  .contenedor .warp .box .inscribite .bt1 {
    flex-basis: 40%;
    border: solid 4px;
    border-radius: 20px;
    padding: 10px 30px 10px 30px;
    margin-right: 20px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
    font-family: 'Fredoka One', cursive;
    font-family: 'Mukta', sans-serif;
    text-shadow: 1px 1px #000000;
    
    
  }

