/*BARRA DE NAVEGACION*/

header{
    background: rgb(230,14,14);
    background: linear-gradient(90deg, rgba(230,14,14,0.6446953781512605) 0%, rgba(255,0,18,1) 0%, rgba(212,91,21,0.969625350140056) 100%);  
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
<<<<<<< HEAD
    padding: 50px;
    align-items: center;  
=======
    padding: 40px;
    align-items: center;
   
>>>>>>> develop
}

nav {
float: right;
}

nav ul li{
list-style: none;
margin-left: 75px;
padding:25px 0;
float:left ;
position: relative;
}

nav ul li a {
text-decoration: none;
color: aliceblue;
font-family: 'Fredoka One', cursive;
font-family: 'Mukta', sans-serif;
}

nav ul li a::before{
    display: block;
    content: "";
    width: 100%;
    background: rgb(255, 255, 255);   
    height: 5px;
    top:0;
    position: absolute;
}

nav ul li a::before{
    width: 100%;
}





/* PIE DE PAGINA*/    
footer{
    background: rgb(230,14,14);
    background: linear-gradient(90deg, rgba(230,14,14,0.6446953781512605) 0%, rgba(255,0,18,1) 0%, rgba(212,91,21,0.969625350140056) 100%);
    padding: 35px;
    font-family: 'Fredoka One', cursive;
<<<<<<< HEAD
    font-family: 'Mukta', sans-serif;     
=======
    font-family: 'Mukta', sans-serif;
    
           
>>>>>>> develop
    }


/*TABLA */

        table {
            width: 100%;
            border: 1px solid #000;
            padding: 50px;
         }

         th, td {
            width:auto;
            text-align: left;
            vertical-align: top;
            border: 1px solid #000;
            border-collapse: collapse;
            padding: 0.3em;
            caption-side: bottom;
         }

         caption {
            padding: 0.3em;
            color: #fff;
             background: #000;
         }

         th {
            background: grey;
         }

        .listado{
            justify-content:center;
            display: flex;
            align-items: center;
            padding: 5px;
            font-family: 'Fredoka One', cursive;
            font-family: 'Mukta', sans-serif;

        }
<<<<<<< HEAD


 /*ASIDE */       
        aside{
            width:210px;
            height:200px;
            float:right;
            text-align:center;
            color:darkgray;
            font-family: 'Fredoka One', cursive;
            font-family: 'Mukta', sans-serif;
           
        }
=======
/*ASIDE */       
aside{
    width:210px;
    height:200px;
    float:right;
    text-align:center;
    color:darkgray;
    font-family: 'Fredoka One', cursive;
    font-family: 'Mukta', sans-serif;
   
}

/*VIDEO*/

iframe{
    border-radius: 50px;
    padding: 10px;
    
    
    
    }
     article iframe, 
        article * img {
        margin: 0 auto;
        display: block;
    }
    

/*GRIDS*/

.container-img{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px;
    grid-gap: 20px;
}
.container-img .box-img figure {
width: 100%;
height: 100%;
}
.container-img .box-img img{
width: 100%;
height: 100%;
object-fit: cover;

}
.container-img .box-img:nth-child(1){
    grid-column-start: span 2;
}

.container-img .box-img:nth-child(4){
    grid-column-start: span 2;
}
>>>>>>> develop
